@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <b> <p>Choose one of the options to go the next page </p> </b>
</div>

<div class="row">

    <div class="col-md-3">
        <h3> Addition and Subtraction</h3>
        <p>Click the button below.</p>
        <p> <a class="btn btn-default" href="/Home/Page2">#Click Here &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h3> Multiplication and Division </h3>
        <p>Click the button below.</p>

        <p> <a class="btn btn-default" href="/Home/Page3">#Click Here &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h3> Random Number Generator and Discount </h3>
        <p>Click the button below.</p>
        <p> <a class="btn btn-default" href="/Home/Page4">#Click Here &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h3>  Login and Notes Page </h3>
        <p>Click the button below.</p>
        <p> <a class="btn btn-default" href="/Home/Page5">#Click Here &raquo;</a></p>
    </div>

</div>